@media only screen and (min-width: 992px) {
    .page-wrapper {
        margin-left: 250px;
    }
}

@media only screen and (max-width: 992px) {
    .page-wrapper {
        margin-top: 60px;
    }
}

.page-wrapper {
    margin-left: 260px;
}