<div class="body">
  <div class="page">
    <div class="text-center" style="font-size: 20px;">
      <img src="https://www.dsidakar.com/server/public/print/logo.png" width="35%">
      <div style="font-size:small;">
        <i></i><span>Commerçant Alimentation Générale</span><br>
        <i></i><span>Marché Thiaroye Gare Cantine N°A27</span><br>
        <i></i><span>77 232 18 94 - 78 124 64 67</span>
        <div style="border-top: 0.5px dotted black;">&nbsp;</div>
      </div>
    </div>
    <div class="text-center" style="font-weight: 600; font-size: medium;">
      <div><i>Caisse </i>{{ticket.auteur}}</div>
      <div><i>Ticket N° </i>{{ticket.numero}}</div>
      <div><i>Date et l'heure: </i>{{ticket.created_at | date:"d-MM-y à H:mm"}}</div>
      <div><i>Client : </i>{{ticket.nom_client}}</div>
    </div>
    <div class="mx-5">
      <div style="font-weight: 500; font-size: 35px; text-align: center; margin-bottom: 1%;"> Ticket de caisse </div>
      <div *ngFor="let ligne of this.listTicket; let i = index;"
        style="padding: 2%;margin-left: 2%; margin-bottom: 2%; font-size: 15px; border: 0.2px dotted black;">
        <span class="mx-2">{{ i+1}} => </span>
        <span class="mx-2">{{ ligne.produit}}</span> <br>
        <span class="mx-2">Prix : {{ ligne.prix | number: '1.0-0' }} FCFA </span>
        <span class="mx-2">Qty : {{ ligne.qty}}</span> <br>
        <span class="mx-2">Sous Total : {{ ligne.totht | number: '1.0-0' }} FCFA </span>
      </div>
      <div style="text-align: center; margin-bottom: 1%; margin-top: 1%;">
        <span class="mx-2 h3" style="font-weight: 700; font-size: larger;">Montant Total : {{ticket.net | number:
          '1.0-0'}} F CFA </span>
      </div>
    </div>
    <div style="text-align: center; margin-bottom: 5%;">
      Copyright &copy; {{ year }} DSI <br>
      Merci de votre visite. A bientôt !!!
    </div>
    <div style="border-top: 0.5px dotted black;">&nbsp;</div>
  </div>
</div>