<div class="container-fluid">

  <app-menu-vente></app-menu-vente>
  <div class="card-header bg-white py-1 h3 mb-1 justify-content-center text-muted">Liste des factures</div>

  <div class="card mb-1 p-1">
    <fieldset>
      <legend class="mx-3">Recherche <span
          class="mx-1 btn btn-sm rounded bg-info">{{this.commandeService.listCommande?.length}}</span> </legend>
      <div class="input-group mb-1">
        <button [disabled]="isDisable" type="button" (click)="getCommandes()" class="btn mb-2 btn-sm btn-info w-auto">
          <span *ngIf="!isDisable && !isClick">Toutes les commandes</span>
          <span *ngIf="isDisable && isClick" class="spinner-border spinner-border-sm mx-1"></span>
          <span *ngIf="isDisable && isClick">Chargement...</span>
        </button>
        <input name="numero" type="text" (keyup)="search()" id="inputSearch" class="mb-2 form-control mx-1 w-auto"
          placeholder="Par Numéro" />
        <input onfocus="(this.type='date')" (change)="onChangeDate($event.target)" name="date" type="text"
          class="mb-2 form-control mx-1 w-auto" placeholder="Par Date" />
        <div class="seach-clients-desktop" id="desktop">
          <div class="form-select selected" (click)="showDropdown = !showDropdown">
            <ng-container *ngIf="selectedClient; else placeholder">
              <span>{{ selectedClient.name }}</span>
            </ng-container>
            <ng-template #placeholder>
              <span>Sélectionner un client...</span>
            </ng-template>
            <span class="arrow">&#9662;</span>
          </div>
          <div class="form-select showlists" *ngIf="showDropdown">
            <input type="text" [(ngModel)]="searchSelect" placeholder="Rechercher..." />

            <div class="showlists-item" *ngFor="let client of filteredClient"
              (click)="selectClient(client); showDropdown = false">
              <span>{{ client.name }}</span>
            </div>
          </div>
        </div>
        <div class="seach-clients-mobile" id="mobile">
          <div class="form-select selected" (click)="showDropdown = !showDropdown">
            <ng-container *ngIf="selectedClient; else placeholder">
              <span>{{ selectedClient.name }}</span>
            </ng-container>
            <ng-template #placeholder>
              <span>Sélectionner un client...</span>
            </ng-template>
            <span class="arrow">&#9662;</span>
          </div>
          <div class="form-select showlists" *ngIf="showDropdown">
            <input type="text" [(ngModel)]="searchSelect" placeholder="Rechercher..." />

            <div class="showlists-item" *ngFor="let client of filteredClient"
              (click)="selectClient(client); showDropdown = false">
              <span>{{ client.name }}</span>
            </div>
          </div>
        </div>
        <input onfocus="(this.type='date')" (change)="onChange2DatesFirst($event.target)" name="date" type="text"
          class="mb-2 form-control mx-1 w-auto" placeholder="Date debut" />
        <input onfocus="(this.type='date')" (change)="onChange2DatesSecond($event.target)" name="date" type="text"
          class="mb-2 form-control mx-1 w-auto" placeholder="Date fin" />
        <select class="form-control mx-1 w-auto mb-2" (change)="OnChangeStatus($event.target)" data-live-search="true">
          <option disabled selected>--Choisir le status--</option>
          <option value="payer">Payées</option>
          <option value="cours">En cours</option>
          <option value="nonPay">Non payées</option>
          <option value="wave">Payées par Wave</option>
        </select>
      </div>
    </fieldset>
  </div>

  <div class="card mb-2">
    <div class="row p-3">
      <div class="table-responsive border mb-3" style="height: 450px;">
        <table class="table card-table table-vcenter text-nowrap datatable">
          <thead>
            <tr>
              <th>Numéro</th>
              <th>Date</th>
              <th>Auteur</th>
              <th>Client</th>
              <th>Total H</th>
              <th>Total tt</th>
              <th>Net à payer </th>
              <th>Versement </th>
              <th>Restant </th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="this.commandeService.nbrCmd == 0">
              <td class="font-italic text-center" colspan="8">
                <marquee behavior="alternate" direction="" class="h3 text-warning">
                  Aucune vente éffectuée pour le moment...
                </marquee>
              </td>
            </tr>
            <tr
              *ngFor="let commande of this.commandeService.listCommande | paginate: { itemsPerPage: defaultItem, currentPage: page, totalItems: nbrComm }">
              <td (click)="detail(commande)" style="cursor: pointer;">{{commande.numero}}</td>
              <td>{{commande.created_at | date:"d-MM-y à H:mm"}}</td>
              <td>{{commande.auteur}}</td>
              <td>{{commande.nom_client}}</td>
              <td>{{commande.totht | number: '1.0-0'}} F CFA</td>
              <td>{{commande.totttc | number: '1.0-0'}} F CFA</td>
              <td>{{commande.net | number: '1.0-0'}} F CFA</td>
              <td>{{commande.versement | number: '1.0-0'}} F CFA</td>
              <td>{{commande.restant | number: '1.0-0'}} F CFA</td>
              <td>
                <span *ngIf="commande.restant == 0" class="badge bg-success me-1">Payé</span>
                <span *ngIf="commande.versement != 0 && commande.restant != 0" class="badge bg-warning me-1">En
                  Cours</span>
                <span *ngIf="commande.versement == 0 && commande.restant != 0" class="badge bg-danger me-1">Non
                  Payé</span>
              </td>
              <td>
                <a *ngIf="userService.checkPermissionExistence(firstRoleName+ ' modifier facture et devis Vente')"
                  (click)="editCommande(commande)" class="btn btn-sm btn-outline-warning mx-1"><i
                    class="fa fa-edit"></i></a>
                <a (click)="detail(commande)" class="btn btn-sm btn-outline-primary mx-1"><i class="fa fa-eye"></i></a>
                <a (click)="printFacture(commande)" class="btn btn-sm btn-outline-primary mx-1"><i
                    class="fa fa-print fa-1x mx-1"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer d-flex align-items-center" *ngIf="this.commandeService.nbrCmd > 100"
        style="height: 40px;">
        <p class="m-0 text-muted">Affichage
          <span *ngIf="page == 1">{{defaultItem}}</span>
          <span *ngIf="page != 1 && page != nbrPage">{{defaultItem * page}}</span>
          <span *ngIf="page != 1 && page == nbrPage">{{nbrComm}}</span>
          sur <span>{{nbrComm}}</span> Commandes
        </p>
        <ul class="pagination m-0 ms-auto mt-3">
          <pagination-controls (pageChange)="page = $event" previousLabel="Précédent" nextLabel="Suivant">
          </pagination-controls>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="row p-3">
      <!-- Liste  -->
      <div class="col-md-4">
        <div class="mb-3">
          <label for="basic-url" style="font-weight: 600;" class="form-label">Total Vente</label>
          <span class="form-control bg-light">{{commandeService.totalVente | number: '1.0-0'}} F FCA</span>
        </div>
      </div>

      <div class="col-md-4">
        <div class="mb-3">
          <label for="basic-url" style="font-weight: 600;" class="form-label">Total Avance</label>
          <span class="form-control bg-light">{{commandeService.totalAvance | number: '1.0-0'}} F FCA</span>
        </div>
      </div>

      <div class="col-md-4">
        <div class="mb-3">
          <label for="basic-url" style="font-weight: 600;" class="form-label">Total Restant</label>
          <span class="form-control bg-light">{{commandeService.totalRestant | number: '1.0-0'}} F FCA</span>
        </div>
      </div>

    </div>
  </div>

</div>